.App {
  text-align: center;
  background-color: rgb(29, 29, 29);
  color: white;
  height: 100vh;
  padding: 5vh;
}

h1 {
  background-color: #f3ce13;
  color: black;
  padding: 1vh;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

h1 a {
  text-decoration: none;
}

.synopsis {
  max-width: 25vw;
  margin: 0 auto;
  text-align: center;
}
